.education {
  .educationList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 30px;

    .educationItem {
      background: var(--projectCardColor);
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 80%;
      transition: transform 0.3s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      transition: transform 0.3s;
      min-height: 300px;

      .educationLogo {
        width: 100px;
        height: auto;
        margin-bottom: 1rem;
      }

      &:hover {
        transform: scale(1.05);
      }

      .educationSchool {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--textColor);
      }

      .educationLocation,
      .educationDegree,
      .educationDate {
        display: block;
        color: var(--secondaryColor);
        margin-top: 0.3rem;
      }

      .educationDate {
        margin-top: 1rem;
        font-weight: 600;
      }
    }
  }
}

/* MEDIA QUERIES ==================> */
@media screen and (min-width: 480px) {
  .education {
    .educationList {
      flex-direction: column;

      .educationItem {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1150px) {
  .education {
    .educationList {
      flex-direction: row;

      .educationItem {
        width: 50%;
      }
    }
  }
}
