.footer {
  width: 100%;
  text-align: center;
  background: var(--projectCardColor);
  margin-top: 1rem;
  padding: 1rem 0;

  span {
    text-align: center;
    color: var(--secondaryColor);
    opacity: 0.5;
    font-size: 15px;
  }
}
